:root {
  --app-bg: url(https://i.imVeyt.jpg);
  --app-blur: 0px;
  --app-margin: 0px;
  --app-radius: 0px;
  --accent-hue: 315;
  --accent-saturation: 50%;
  --accent-lightness: 60%;
  --accent-opacity: 1;
  --accent-text-color: rgb(255, 255, 255); 
  --sidebar-color: rgba(0, 0, 0, 0.528);
  --main-content-color: rgba(0, 0, 0, 0.528); 
  --message-color: rgba(0, 0, 0, 0);
  --message-radius: 0px;
  --message-padding-top: 0px;
  --message-padding-side: 0px;
  --popout-color: rgba(0, 0, 0, 0.384);
  --mention-hue: 60;
  --mention-opacity: 0;
  --mention-lightness: 50%;
  --button-color: 1;
  --scrollbar-width: 10px;
  --input-height: 0px;
  --input-radius: 0px;
  --textarea-text-color: rgb(255, 255, 255);
  --textarea-alpha: 0.1;
  --textarea-alpha-focus: 0.15;
  --textarea-text-color: rgba(255, 252, 252, 0.98);
  --textarea-radius: 0px;  /*	-	*/
  --card-color: rgba(19, 17, 18, 0.37);
  --card-color-hover: rgba(225, 65, 65, 0.5);
  --card-color-select: rgba(255, 255, 255, 0.7); /*	-	*/
  --button-radius: 0px;
  --button-height: 0px;
  --interactive-normal: rgba(227, 227, 227, 0.583);
  --interactive-hover: rgba(209, 203, 203, 0.788);
  --interactive-active: rgba(255, 255, 255, 0.983);
  --interactive-muted: #777; /*	-	*/
  --notification-color: rgb(255, 255, 255);
  --textarea-block-color: rgba(255, 254, 254, 0.4);
  --header-secondary: #ffffff;
}
